.input {
    background: transparent;
    border-radius: .5rem;
    padding: 2.1rem;
    color: #fff;
    font-weight: 500;
    border: .1rem solid #5321BF;
    background-color: transparent;
    transition: background-color .3s, border .3s;
    
}

input::placeholder {
    color: #666;
}

input:disabled {
    border-color: transparent;
    background-color: rgba(0,0,0,.5);
}