.cardWrapper {
    width: 100%;
    position: relative;
    display: block;
    border: .1rem solid #8B1EFF;
    border-radius: .5rem;
    overflow: hidden;
}
.card {
    position: relative;
    width: 100%;
    padding-bottom: 61.8%;
    height: 0;
}
.contentWrapper {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    padding: 2.1rem;
    left: 0;
    z-index: 1;
}
.picture, 
.picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.title {
    font-size: 2rem;
    color: #fff;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
}

.category {
    padding: .5rem 2.1rem;
    min-width: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: normal;
}
.categoryLink {
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: auto;
}
.date {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: #F20574;
    font-size: 1.3rem;
    letter-spacing: .1rem;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(139,30,255,0) 100%);
}

@media (max-width: 1023px) {
    .card {
        padding-bottom: 112%
    }
}