@keyframes pink {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10%);
    }
    75% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes purple1 {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    24% {
        opacity: 0;
    }
    25% {
        transform: translateX(-10%);
        opacity: 1;
    }
    75% {
        transform: translateX(10%);
        opacity: 1;
    }
    76% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}
@keyframes purple2 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    25% {
        transform: translateX(-10%);
        opacity: 0;
    }
    75% {
        transform: translateX(10%);
        opacity: 0;
    }
    76% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.pink,
.purple {
    animation-duration: .75s;
    animation-timing-function: cubic-bezier(.83,.98,0,.23);
    animation-play-state: running;
    animation-iteration-count: infinite;
    transform: translateX(0);
    transform-origin: center center;
}
.purple {
    will-change: transform, opacity;
}
.pink { 
    animation-name: pink; 
    will-change: opacity;
}
.purple1 { animation-name: purple1; }
.purple2 { animation-name: purple2; }